@media (max-width: 575.98px) {}

/* Large devices (desktops, less than 1200px) */

@media (max-width: 1200px) {
    .container {
        max-width: 100vw;
    }
    .header-top {
        padding: 0% 2%;
    }
    .navbar {
        border-radius: 0%;
    }
    .marginTop {
        margin-top: 9.9vw;
    }
    .intro {
        margin-top: 6%;
    }
    .explore-btn {
        margin-top: 4.5%;
    }
    .expertise-container {
        padding: 0% 20px;
    }
    .directors-message {
        margin-top: 100px;
        height: 45vw;
        width: 100vw;
    }
    .director-img {
        height: 45vw;
        width: 45vw;
    }
    .directors-message .message {
        height: 45vw;
        width: 65vw;
        padding: 6.5vw 13vw 0 100px;
    }
    div.playlist iframe {
        width: 47vw;
        /* margin-top: 2%; */
    }
    .topics-grid {
        padding-left: 25px;
        padding-right: 25px;
    }
    /* Testimonials Section  */
    .tCarousel-container {
        max-width: 100vw;
    }
    .tCarousel-slide .review-slide {
        width: 100vw;
        height: 35vw;
    }
    .contact-container {
        width: 100%;
        top: 435px;
        border-radius: 0px;
        left: 0;
        transform: translateX(0);
    }
    .contact-form {
        right: 5%;
    }
    .footer {
        margin-top: 700px;
    }
    .footer-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 4%;
        grid-template-areas: ' . . .' ' s s s ';
    }
    .footer-container .social-networks {
        grid-area: s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-container .social-networks ul {
        display: flex;
        align-items: center;
    }
    .footer h1 {
        margin-bottom: 15px;
    }
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    /* Tab Home Section  */
    .container {
        max-width: 100vw;
    }
    header {
        background-position: center;
        height: 65vw;
    }
    .header-top {
        padding: 0% 2%;
    }
    .navbar {
        border-radius: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1px 3%;
    }
    .navbar.mobile {
        background-color: #053f81;
    }
    .mobile .nav-list {
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        width: 30%;
        right: 0%;
        top: 0%;
        background-color: #053f81;
        border-bottom-left-radius: 20px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
    }
    .mobile .nav-list li {
        width: 75%;
        margin-top: 10%;
        margin-right: 13%;
        border-bottom: 3px solid #ED151F;
        text-align: right;
    }
    .mobile .nav-list li:last-child {
        margin-bottom: 10%;
    }
    .marginTop {
        margin-top: 22vw;
    }
    .hamburger {
        display: contents;
    }
    .nav-list.open {
        top: 100%;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    .logo-unit img {
        display: none;
    }
    .mobile #sticky-logo {
        display: contents;
    }
    .mobile #sticky-logo img {
        width: 9vw;
    }
    nav.sticky a .logo-unit-sticky img {
        width: 9vw;
        transform: scale(1);
    }
    .navbar.sticky {
        padding: 1% 3%;
    }
    .intro {
        margin-top: 11%;
    }
    .intro h1 {
        margin-top: 10px;
        font-size: 6.5vw;
        line-height: 45px;
    }
    .intro h3 {
        font-size: 5.5vw;
        line-height: 40px;
    }
    .explore-btn {
        margin-top: 4%;
    }
    /* Our Expertise Section  */
    .expertise-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 4%;
        grid-template-areas: ' . . ' ' . . ';
        justify-items: center;
    }
    .cards {
        width: 65%;
        height: 450px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(0, 0, 0, 0.2);
        justify-content: space-evenly;
    }
    .cards h3 {
        margin: 0%;
    }
    .cards p {
        margin: 0%;
        font-size: 19px;
    }
    .cards img {
        margin: 0%;
    }
    .cards:hover {
        transform: translateY(0px);
    }
    /* directors-message */
    .directors-message {
        height: 72vw;
    }
    .director-img {
        display: none;
    }
    .directors-message .message {
        width: 100vw;
        height: 100%;
        padding: 100px 60px 0 100px;
    }
    .directors-message .message h1 {
        font-size: 45px;
        line-height: 55px;
        margin: 25px 0;
    }
    .directors-message .message p {
        font-size: 17px;
        line-height: 30px;
        margin-top: 50px;
    }
    .explore-btn-message {
        margin-top: 20px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        font-size: 20px;
        padding: 20px 39px;
    }
    /* Gallery section */
    .carousel-container {
        max-width: 100vw;
        height: 85vw;
    }
    .carousel-slide .img {
        width: 100vw;
        height: 85vw;
    }
    .img-gallery a {
        height: 17rem;
    }
    .img-1, .img-6, .img-9, .img-14, .img-17, .img-22 {
        min-height: 35rem;
    }
    /* yt playlist section  */
    .playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.playlist iframe {
        width: 75vw;
        height: 400px;
        margin-top: 2%;
    }
    /* About or Why Choose Us section  */
    .topics-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    .about-us h1 {
        margin-bottom: 10px;
    }
    /* Testimonials Section  */
    .tCarousel-container {
        max-width: 100vw;
    }
    .tCarousel-slide .review-slide {
        width: 100vw;
        height: 35vw;
    }
    /* Contact Us Section  */
    .contact-us {
        margin-bottom: -15vw;
    }
    .contact-container {
        top: 435px;
        border-radius: 0px;
        height: 71vw;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding: 0;
    }
    .loaction, .phone, .email {
        width: 75%;
    }
    .contact-form {
        top: 55vw;
        left: 50%;
        transform: translateX(-50%);
        width: 35rem;
    }
    .contact-form .inputBox input, .contact-form .inputBox textarea {
        padding: 15px 0;
        font-size: 20px;
    }
    .contact-form .inputBox input::placeholder, .contact-form .inputBox textarea::placeholder {
        font-size: 20px;
    }
    /* Footer Section  */
    .footer {
        margin-top: 145vw;
    }
    .footer-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 4%;
        grid-template-areas: ' . . .' ' s s s ';
    }
    .footer-container .social-networks {
        grid-area: s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-container .social-networks ul {
        display: flex;
        align-items: center;
    }
    .footer h1 {
        margin-bottom: 15px;
    }
}

@media (max-width: 890px) {
    .contact-form {
        top: 59vw;
        width: 31rem;
    }
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 769px) {
    header {
        height: 85vw;
    }
    .cards {
        height: 325px;
        width: 70%;
        justify-content: center;
    }
    .cards h3 {
        margin-bottom: 10px;
    }
    .cards p {
        font-size: 19px;
    }
    .cards img {
        margin-bottom: 20px;
    }
    .directors-message {
        height: 85vw;
    }
    .img-gallery a {
        height: 13rem;
    }
    .img-1, .img-6, .img-9, .img-14, .img-17, .img-22 {
        min-height: 27rem;
    }
    div.playlist iframe {
        width: 75vw;
        height: 275px;
        margin-top: 2%;
    }
    .topics-grid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .tCarousel-slide .review-slide {
        height: 45vw;
    }
    .contact-us {
        margin-bottom: 90vh;
    }
    .contact-container {
        height: 90vw;
    }
    .contact-form {
        top: 75vw;
        width: 31rem;
    }
    .contact-form .inputBox input, .contact-form .inputBox textarea {
        padding: 10px 0;
        font-size: 16px;
    }
    .contact-form .inputBox input::placeholder, .contact-form .inputBox textarea::placeholder {
        font-size: 16px;
    }
    .contact-us {
        margin-bottom: 90vh;
    }
}

@media (max-width: 700px) {
    .directors-message {
        height: 105vw;
    }
    .contact-container {
        height: 111vw;
    }
    .contact-form {
        top: 85vw;
        width: 75vw;
    }
    .footer {
        margin-top: 160vw;
    }
}

@media (max-width: 625px) {
    .expertise-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .directors-message {
        height: 135vw;
    }
    .cards {
        width: 60%;
        height: 450px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(0, 0, 0, 0.2);
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .topics-grid {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
    }
    .contact-container {
        height: 120vw;
    }
    .contact-form {
        top: 100vw;
        width: 75vw;
    }
    .footer {
        margin-top: 185vw;
    }
}

@media (max-width: 545px) {
    .directors-message {
        height: 135vw;
    }
    .contact-container {
        height: 135vw;
    }
    .contact-form {
        top: 111vw;
        width: 75vw;
    }
    .footer {
        margin-top: 225vw;
    }
}

@media (max-width: 475px) {
    header {
        height: 100vw;
    }
    .intro {
        margin-top: 11%;
    }
    .intro h1 {
        margin-top: 10px;
        font-size: 7vw;
        line-height: 25px;
    }
    .intro h3 {
        font-size: 6.5vw;
        line-height: 40px;
    }
    .explore-btn {
        margin-top: 4%;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        font-size: 17px;
        padding: 15px 25px;
    }
    .courses {
        margin-bottom: 0px;
    }
    .cards {
        width: 75%;
        height: 350px;
    }
    .directors-message {
        margin-top: 50px;
    }
    .directors-message {
        height: 150vw;
    }
    .directors-message .message {
        width: 100vw;
        height: 100%;
        padding: 40px 20px 0 40px;
    }
    .directors-message .message h1 {
        font-size: 40px;
        line-height: 35px;
        margin: 20px 0;
    }
    .directors-message .message p {
        font-size: 17px;
        line-height: 30px;
        margin-top: 10px;
    }
    /* Gallery section */
    .carousel-container {
        height: 65vh;
    }
    .carousel-slide .img {
        width: 100vw;
        height: 65vh;
    }
    .img-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 0.5rem;
        grid-template-areas: 'img-1 img-2 img-3 img-3' 'img-1 img-4 img-5 img-6' 'img-7 img-7 img-8 img-6';
    }
    .img-gallery a i {
        display: none;
    }
    .img-gallery a {
        height: 9rem;
    }
    .img-1, .img-6, .img-9, .img-14, .img-17, .img-22 {
        min-height: 19rem;
    }
    div.playlist iframe {
        width: 95vw;
        height: 225px;
        margin-top: 2%;
    }
    .yt-playlists h1 {
        font-size: 45px;
    }
    .topics .topic i {
        font-size: 25px;
    }
    .topics .topic .circle {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
    .testimonials-container h1.testimonials-heading {
        font-size: 45px;
    }
    .testimonials h1.sub-heading {
        margin-top: -10px;
    }
    .tCarousel-slide .review-slide {
        height: 50vh;
    }
    .review-slide p {
        font-size: 15px;
        line-height: 25px;
    }
    .review-slide {
        padding: 0 25px 0px 25px;
    }
    .topic-text p {
        margin-top: 15px;
        font-size: 13px;
        line-height: 17px;
    }
    .topic-text h3 {
        font-size: 17px;
    }
    .contact-container {
        height: 90vh;
    }
    .contact-form {
        top: 77vh;
        width: 95vw;
    }
    .footer {
        margin-top: 145vh;
        padding: 0 1%;
    }
    .footer h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        text-align: center;
    }
    .footer ul li a {
        font-size: 14px;
    }
    .footer .social-networks ul {
        margin-bottom: 35px;
    }
    footer .copyright-text h1 {
        text-align: center;
        color: white;
        font-size: 17px;
        padding: 20px;
        font-weight: 100;
    }
}

@media (max-width: 376px) {
    .footer {
        margin-top: 135vh;
    }
    .footer h1 {
        font-size: 15px;
    }
    .footer ul li a {
        font-size: 14px;
    }
    .footer .social-networks ul {
        margin-bottom: 35px;
    }
    footer .copyright-text h1 {
        text-align: center;
        color: white;
        font-size: 17px;
        padding: 20px;
        font-weight: 100;
    }
    .directors-message {
        height: 175vw;
    }
    .img-gallery a {
        height: 10rem;
    }
    .img-1, .img-6, .img-9, .img-14, .img-17, .img-22 {
        min-height: 21rem;
    }
}