/* Large devices (desktops, less than 1200px) */

@media (max-width: 1200px) {
    .container {
        max-width: 100vw;
    }
    .header-top {
        padding: 0% 2%;
    }
    .navbar {
        border-radius: 0%;
    }
    .marginTop {
        margin-top: 9.9vw;
    }
    .intro {
        margin-top: 6%;
    }
    .explore-btn {
        margin-top: 4.5%;
    }
    .expertise-container {
        padding: 0% 20px;
    }
    .directors-message {
        margin-top: 100px;
        height: 45vw;
        width: 100vw;
    }
    .director-img {
        height: 45vw;
        width: 45vw;
    }
    .directors-message .message {
        height: 45vw;
        width: 65vw;
        padding: 6.5vw 13vw 0 100px;
    }
    div.playlist iframe {
        width: 47vw;
        /* margin-top: 2%; */
    }
    .topics-grid {
        padding-left: 25px;
        padding-right: 25px;
    }
    /* Testimonials Section  */
    .tCarousel-container {
        max-width: 100vw;
    }
    .tCarousel-slide .review-slide {
        width: 100vw;
        height: 35vw;
    }
    .contact-container {
        width: 100%;
        top: 435px;
        border-radius: 0px;
        left: 0;
        transform: translateX(0);
    }
    .contact-form {
        right: 5%;
    }
    .footer {
        margin-top: 700px;
    }
    .footer-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 4%;
        grid-template-areas: ' . . .' ' s s s ';
    }
    .footer-container .social-networks {
        grid-area: s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-container .social-networks ul {
        display: flex;
        align-items: center;
    }
    .footer h1 {
        margin-bottom: 15px;
    }
}

/* Medium devices (tablets, less than 992px) */

@media (max-width: 991.98px) {
    /* Tab Home Section  */
    .container {
        max-width: 100vw;
    }
    header {
        background-position: center;
        height: 65vw;
    }
    .header-top {
        padding: 0% 2%;
    }
    .navbar {
        border-radius: 0%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2px 3%;
    }
    .navbar.mobile {
        background-color: #053f81;
    }
    .mobile .nav-list {
        position: absolute;
        flex-direction: column;
        align-items: flex-end;
        width: 30%;
        right: 0%;
        top: 0%;
        background-color: #053f81;
        border-bottom-left-radius: 20px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: all 0.3s ease-in-out;
    }
    .mobile .nav-list li {
        width: 75%;
        margin-top: 10%;
        margin-right: 13%;
        border-bottom: 3px solid #ED151F;
        text-align: right;
    }
    .mobile .nav-list li:last-child {
        margin-bottom: 10%;
    }
    .marginTop {
        margin-top: 22vw;
    }
    .hamburger {
        display: contents;
    }
    .nav-list.open {
        top: 100%;
        opacity: 1;
        visibility: visible;
        pointer-events: all;
    }
    .logo-unit img {
        display: none;
    }
    .mobile #sticky-logo {
        display: contents;
    }
    .mobile #sticky-logo img {
        width: 10vw;
    }
    nav.sticky a .logo-unit-sticky img {
        width: 10vw;
        transform: scale(1);
    }
    .navbar.sticky {
        padding: 1% 3%;
    }
    .intro {
        margin-top: 11%;
    }
    .intro h1 {
        margin-top: 10px;
        font-size: 6.5vw;
        line-height: 45px;
    }
    .intro h3 {
        font-size: 5.5vw;
        line-height: 40px;
    }
    .explore-btn {
        margin-top: 4%;
    }
    /* Our Expertise Section  */
    .expertise-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 4%;
        grid-template-areas: ' . . ' ' . . ';
        justify-items: center;
    }
    .cards {
        width: 65%;
        height: 450px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(0, 0, 0, 0.2);
        justify-content: space-evenly;
    }
    .cards h3 {
        margin: 0%;
    }
    .cards p {
        margin: 0%;
        font-size: 19px;
    }
    .cards img {
        margin: 0%;
    }
    .cards:hover {
        transform: translateY(0px);
    }
    /* directors-message */
    .directors-message {
        height: 72vw;
    }
    .director-img {
        display: none;
    }
    .directors-message .message {
        width: 100vw;
        height: 100%;
        padding: 100px 60px 0 100px;
    }
    .directors-message .message h1 {
        font-size: 45px;
        line-height: 55px;
        margin: 25px 0;
    }
    .directors-message .message p {
        font-size: 17px;
        line-height: 30px;
        margin-top: 50px;
    }
    .explore-btn-message {
        margin-top: 20px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        font-size: 20px;
        padding: 20px 39px;
    }
    /* Gallery section */
    .carousel-container {
        max-width: 100vw;
        height: 55vw;
    }
    .carousel-slide .img {
        width: 100vw;
        height: 55vw;
    }
    /* yt playlist section  */
    .playlist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.playlist iframe {
        width: 75vw;
        height: 400px;
        margin-top: 2%;
    }
    /* About or Why Choose Us section  */
    .topics-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        padding-left: 25px;
        padding-right: 25px;
    }
    .about-us h1 {
        margin-bottom: 10px;
    }
    /* Testimonials Section  */
    .tCarousel-container {
        max-width: 100vw;
    }
    .tCarousel-slide .review-slide {
        width: 100vw;
        height: 35vw;
    }
    /* Contact Us Section  */
    .contact-us {
        margin-bottom: -15vw;
    }
    .contact-container {
        top: 435px;
        border-radius: 0px;
        height: 71vw;
    }
    .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
        padding: 0;
    }
    .loaction, .phone, .email {
        width: 75%;
    }
    .contact-form {
        top: 55vw;
        left: 50%;
        transform: translateX(-50%);
        width: 35rem;
    }
    .contact-form .inputBox input, .contact-form .inputBox textarea {
        padding: 15px 0;
        font-size: 20px;
    }
    .contact-form .inputBox input::placeholder, .contact-form .inputBox textarea::placeholder {
        font-size: 20px;
    }
    /* Footer Section  */
    .footer {
        margin-top: 145vw;
    }
    .footer-container {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 4%;
        grid-template-areas: ' . . .' ' s s s ';
    }
    .footer-container .social-networks {
        grid-area: s;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer-container .social-networks ul {
        display: flex;
        align-items: center;
    }
    .footer h1 {
        margin-bottom: 15px;
    }
}

@media (max-width: 890px) {
    .contact-form {
        top: 59vw;
        width: 31rem;
    }
}

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 769px) {
    header {
        height: 85vw;
    }
    .cards {
        height: 325px;
        width: 70%;
        justify-content: center;
    }
    .cards h3 {
        margin-bottom: 10px;
    }
    .cards p {
        font-size: 19px;
    }
    .cards img {
        margin-bottom: 20px;
    }
    .directors-message {
        height: 85vw;
    }
    div.playlist iframe {
        width: 75vw;
        height: 275px;
        margin-top: 2%;
    }
    .topics-grid {
        padding-left: 20px;
        padding-right: 20px;
    }
    .tCarousel-slide .review-slide {
        height: 45vw;
    }
    .review-slide {
        padding: 0 100px;
    }
    .contact-us {
        margin-bottom: 90vh;
    }
    .contact-container {
        height: 90vw;
    }
    .contact-form {
        top: 75vw;
        width: 31rem;
    }
    .contact-form .inputBox input, .contact-form .inputBox textarea {
        padding: 10px 0;
        font-size: 16px;
    }
    .contact-form .inputBox input::placeholder, .contact-form .inputBox textarea::placeholder {
        font-size: 16px;
    }
    .contact-us {
        margin-bottom: 90vh;
    }
}

@media (max-width: 700px) {
    .directors-message {
        height: 105vw;
    }
    .tCarousel-slide .review-slide {
        height: 55vw;
    }
    .contact-container {
        height: 111vw;
    }
    .contact-form {
        top: 85vw;
        width: 75vw;
    }
    .footer {
        margin-top: 160vw;
    }
}

@media (max-width: 625px) {
    .expertise-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
    }
    .directors-message {
        height: 135vw;
    }
    .cards {
        width: 60%;
        height: 450px;
        box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(0, 0, 0, 0.2);
        justify-content: space-evenly;
        margin-bottom: 20px;
    }
    .topics-grid {
        display: flex;
        flex-direction: column;
        padding-left: 25px;
        padding-right: 25px;
    }
    .review-slide {
        padding: 0 25px 0px 25px;
    }
    .review-slide p {
        font-size: 15px;
        line-height: 25px;
    }
    .contact-container {
        height: 120vw;
    }
    .contact-form {
        top: 100vw;
        width: 75vw;
    }
    .footer {
        margin-top: 185vw;
    }
}

@media (max-width: 539px) {
    .directors-message {
        height: 155vw;
    }
}

@media (max-width: 545px) {
    .directors-message {
        height: 170vw;
    }
    .contact-container {
        height: 135vw;
    }
    .contact-form {
        top: 111vw;
        width: 75vw;
    }
    .footer {
        margin-top: 225vw;
    }
}

@media (max-width: 476px) {
    header {
        height: 100vw;
    }
    .phone-icon img {
        width: 28px;
    }
    .header-top-phone h3 {
        font-size: 15px;
    }
    .marginTop {
        margin-top: 31vw;
    }
    .mobile #sticky-logo img {
        width: 12vw;
    }
    .mobile .nav-list {
        width: 45%;
    }
    .intro {
        margin-top: 17%;
    }
    .intro h1 {
        margin-top: 10px;
        font-size: 7vw;
        line-height: 25px;
    }
    .intro h3 {
        font-size: 6.5vw;
        line-height: 40px;
    }
    .explore-btn {
        margin-top: 8%;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
        font-size: 17px;
        padding: 15px 25px;
    }
    .courses {
        margin-bottom: 0px;
    }
    .cards {
        width: 75%;
        height: 350px;
    }
    .directors-message {
        margin-top: 50px;
    }
    .directors-message {
        height: 150vw;
    }
    .directors-message .message {
        width: 100vw;
        height: 100%;
        padding: 40px 20px 0 40px;
    }
    .directors-message .message h1 {
        font-size: 40px;
        line-height: 35px;
        margin: 20px 0;
    }
    .directors-message .message p {
        font-size: 17px;
        line-height: 30px;
        margin-top: 10px;
    }
    /* Gallery section */
    .carousel-container {
        height: 65vh;
    }
    .carousel-slide .img {
        width: 100vw;
        height: 65vh;
    }
    .img-gallery a i {
        display: none;
    }
    div.playlist iframe {
        width: 95vw;
        height: 225px;
        margin-top: 2%;
    }
    .yt-playlists h1 {
        font-size: 45px;
    }
    .topics .topic i {
        font-size: 25px;
    }
    .topics .topic .circle {
        width: 65px;
        height: 65px;
        border-radius: 50%;
    }
    .testimonials-container h1.testimonials-heading {
        font-size: 45px;
    }
    .testimonials h1.sub-heading {
        margin-top: -10px;
    }
    .tCarousel-slide .review-slide {
        height: 80vw;
    }
    .review-slide p {
        font-size: 14px;
        line-height: 24px;
    }
    .topic-text p {
        margin-top: 15px;
        font-size: 13px;
        line-height: 17px;
    }
    .topic-text h3 {
        font-size: 17px;
    }
    .contact-container {
        height: 185vw;
    }
    .contact-form {
        top: 150vw;
        width: 95vw;
    }
    .footer {
        margin-top: 275vw;
        padding: 0 1%;
    }
    .footer h1 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 18px;
        text-align: center;
    }
    .footer ul li a {
        font-size: 14px;
    }
    .footer .social-networks ul {
        margin-bottom: 35px;
    }
    footer .copyright-text h1 {
        text-align: center;
        color: white;
        font-size: 17px;
        padding: 20px;
        font-weight: 100;
    }
}

@media (max-width: 409px) {
    .directors-message {
        height: 175vw;
    }
    .contact-form {
        top: 155vw;
    }
    .footer {
        margin-top: 285vw;
    }
    .footer h1 {
        font-size: 15px;
    }
    .footer ul li a {
        font-size: 14px;
    }
    .footer .social-networks ul {
        margin-bottom: 35px;
    }
    footer .copyright-text h1 {
        font-size: 17px;
        padding: 20px;
    }
}

@media (max-width: 376px) {
    header {
        height: 110vw;
    }
    .directors-message {
        height: 195vw;
    }
    .tCarousel-slide .review-slide {
        height: auto;
    }
    .contact-container {
        height: 235vw;
    }
    .contact-form {
        top: 175vw;
    }
    .footer {
        margin-top: 315vw;
    }
    .footer h1 {
        font-size: 12px;
    }
    .footer ul li a {
        font-size: 13px;
    }
    .footer .social-networks ul {
        margin-bottom: 35px;
    }
    footer .copyright-text h1 {
        font-size: 17px;
        padding: 15px;
    }
}

@media (max-width: 353px) {
    .directors-message .message {
        padding: 30px 15px 0 30px;
    }
    .directors-message .message h1 {
        font-size: 30px;
        line-height: 35px;
    }
    .directors-message .message p {
        font-size: 14px;
        line-height: 25px;
    }
    .yt-playlists h1 {
        font-size: 35px;
    }
    .contact-container {
        height: 245vw;
    }
    .contact-form {
        top: 185vw;
    }
    .footer {
        margin-top: 335vw;
    }
}

@media (max-width: 320px) {
    header {
        height: 115vw;
    }
    .mobile .nav-list {
        width: 50%;
    }
    .courses h1 {
        font-size: 30px;
    }
    .gallery-container h1 {
        font-size: 35px;
    }
    .about-us h1 {
        font-size: 35px;
    }
    div.playlist iframe {
        height: 170px;
    }
    .topics .topic i {
        font-size: 20px;
    }
    .topics .topic .circle {
        width: 55px;
        height: 55px;
        border-radius: 50%;
    }
    .topic-text p {
        margin-top: 10px;
        font-size: 12px;
        line-height: 17px;
    }
    .topic-text h3 {
        font-size: 14px;
    }
    .topic>div {
        margin-top: 25px;
    }
    .topic-text {
        width: 75%;
    }
    .testimonials-container h1.testimonials-heading {
        font-size: 35px;
    }
    .testimonials h1.sub-heading {
        font-size: 25px;
    }
    .cards h3 {
        font-size: 20px;
    }
    .cards p {
        font-size: 16px;
    }
    .cards img {
        margin-bottom: 15px;
    }
    .contact-container h1 {
        margin-bottom: 10px;
        font-size: 25px;
    }
    .contact-container p.contact-content {
        font-size: 12px;
    }
    .info .circle .icon {
        font-size: 20px;
    }
    .info .circle {
        width: 55px;
        height: 55px;
    }
    .contact-container {
        height: 265vw;
    }
    .contact-form {
        top: 200vw;
    }
    .contact-form .inputBox input, .contact-form .inputBox textarea {
        padding: 10px 0;
        font-size: 13px;
    }
    .contact-form .inputBox input::placeholder, .contact-form .inputBox textarea::placeholder {
        font-size: 13px;
    }
    .contact-form h2 {
        font-size: 20px;
    }
    .contact-form .inputBox input[type="submit"] {
        font-size: 15px;
    }
    .footer {
        margin-top: 375vw;
    }
    .footer h1 {
        font-size: 12px;
    }
    .footer ul li {
        font-size: 10px;
    }
    .footer ul li a {
        font-size: 10px;
    }
    .footer .social-networks ul {
        margin-bottom: 25px;
    }
    footer .copyright-text h1 {
        font-size: 15px;
        padding: 15px;
    }
}

@media (max-width: 311px) {
    .header-top-social {
        font-size: 15px;
    }
    .phone-icon img {
        width: 25px;
    }
    .header-top-phone h3 {
        font-size: 15px;
    }
    .intro {
        margin-top: 11%;
    }
    .intro h1 {
        line-height: 20px;
    }
    .intro h3 {
        font-size: 7.5vw;
        line-height: 30px;
    }
    .explore-btn {
        font-size: 15px;
        padding: 10px 20px;
    }
    .cards {
        width: 95%;
        height: 300px;
    }
}

@media (max-width: 296px) {
    .directors-message .message {
        padding: 20px 10px 0 20px;
    }
    .directors-message .message h1 {
        font-size: 25px;
    }
    .directors-message .message p {
        font-size: 13px;
        line-height: 20px;
    }
    .yt-playlists h1 {
        font-size: 25px;
    }
    .contact-text {
        font-size: 12px;
    }
}

@media (max-width: 284px) {
    header {
        height: 125vw;
    }
    .mobile .nav-list {
        width: 56%;
    }
    footer .copyright-text h1 {
        font-size: 13px;
    }
}