@font-face {
    font-family: 'Revue';
    src: url('../fonts/Revue-Thin.woff2') format('woff2'), url('../fonts/Revue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/slide_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.31);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.31) 0%);
    z-index: 0;
}

.header-top {
    margin-top: 40px;
    margin-bottom: 38px;
    position: inherit;
    z-index: 1;
}

.header-top-social {
    color: white;
    font-size: 20px;
}

.header-top-social a {
    color: white;
    margin-right: 10px;
}

.logo-unit h1 {
    font-family: Revue;
    font-size: 30px;
    color: white;
}

.logo-unit img {
    margin-right: -21px;
    width: 85px;
    height: auto;
}

.phone-icon img {
    width: 25px;
    margin-right: 5px;
}

.header-top-phone h3 {
    color: white;
    font-size: 20px;
}

.navbar {
    position: relative;
    z-index: 2;
}

.navbar ul li a {
    text-decoration: none;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 6px 0;
    transition: 0.25s ease-in-out;
}

.navbar {
    position: relative;
    padding: 19px 15%;
    text-align: center;
    margin: 0;
    z-index: 200;
    background-color: #053f81ab;
    border-radius: 10px;
}

.navbar li a:hover {
    color: #FF5161;
}

.magic-line {
    position: absolute;
    width: 200px;
    margin-bottom: -9px;
    bottom: 9px;
    height: 3px;
    z-index: 18;
    border-bottom: 3.5px solid #FF5161;
    visibility: hidden;
}

.magic-triangle {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    top: 53px;
    left: 17%;
    margin-left: -3px;
    border-style: solid;
    border-width: 0 3px 4px 3px;
    border-color: transparent transparent #ff5162 transparent;
    line-height: 0px;
    border-color: #00000000 #00000000 #ff5162 #00000000;
    visibility: hidden;
}

.magic-triangle.triangle-visible{
    visibility: visible;
}


.magic-line.line-visible {
    visibility: visible;
    opacity: .9
}
