@font-face {
    font-family: 'Revue';
    src: url('../fonts/Revue-Thin.woff2') format('woff2'), url('../fonts/Revue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/slide_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.31);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.31) 0%);
    z-index: 0;
}

.header-top {
    margin-top: 10px;
    margin-bottom: 0px;
    position: inherit;
    z-index: 1;
    overflow: hidden;
}

.header-top-social {
    color: white;
    font-size: 20px;
}

.header-top-social a {
    color: white;
    margin-right: 10px;
}

.header-top-social a i {
    transition: 0.4s ease-in-out;
}

.header-top-social a i:hover {
    transform: scale(1.4);
}

.logo-unit img {
    margin-right: 0px;
    width: 130px;
    height: auto;
}

.phone-icon img {
    width: 35px;
    margin-right: 5px;
}

.header-top-phone h3 {
    color: white;
    font-size: 20px;
}

.navbar {
    position: relative;
    z-index: 2;
    /* box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2); */
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 6px 0;
    transition: 0.25s ease-in-out;
    position: relative;
}

.navbar ul li a::before {
    content: '';
    position: absolute;
    border-bottom: 3px solid #ED151F;
    width: 0%;
    left: 0%;
    bottom: 0%;
    transition: 0.5s linear;
}

.navbar ul li a:hover:before {
    width: 100%;
}

.navbar {
    position: relative;
    padding: 19px 15%;
    text-align: center;
    margin: 0;
    z-index: 200;
    background-color: #053f81ab;
    border-radius: 10px;
}

.navbar li a:hover {
    font-weight: 700;
}

.intro {
    margin-top: 11%;
    position: relative;
}

.intro h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 65px;
    line-height: 65px;
    color: white;
}

.intro h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 55px;
    line-height: 40px;
    color: #ED151F;
}

.intro h3 span {
    font-family: Revue;
}

.explore-btn {
    position: relative;
    left: 50%;
    margin-top: 4%;
    transform: translateX(-50%);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #FFFFFF;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-weight: 100;
    padding: 20px 39px;
    background-color: #ED151F;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.explore-btn a {
    position: inherit;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    z-index: 21;
}

.explore-btn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F48018;
    transform: translateX(-100%);
    z-index: 20;
    transition: 0.25s linear;
}

.explore-btn:hover::before {
    transform: translateX(0);
}

/* Courses */

.courses {
    /* padding: 50px; */
    margin: 55px 0 125px 0;
    position: relative;
}

.cards {
    border-radius: 20px;
    width: 220px;
    height: 325px;
    transition: 0.25s ease-in-out;
    background-color: #F2F3F7;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.cards img {
    width: 90%;
    height: 45%;
    margin-bottom: 20px;
}

.cards {
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards h3 {
    font-size: 25px;
    color: #464747;
    font-weight: 700;
    opacity: 0.9;
    margin-bottom: 10px;
}

.courses h1 {
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0 60px 0;
    font-size: 40px;
    font-weight: bold;
}

.cards p {
    color: #555;
    font-size: 17px;
    font-weight: 600;
    opacity: .8;
    letter-spacing: .5px;
}

/* .paddinglr{
    padding-left: 100px;
    padding-right: 100px;
} */

.cards:hover {
    transform: translateY(-15px);
}

/* directors-message */

.directors-message {
    margin-top: 100px;
    height: 90vh;
    width: 100vw;
}

.director-img {
    height: 90vh;
    width: 45vw;
    background-image: url(../images/photo_2020-12-03_20-51-05.jpg);
    background-size: cover;
}

.directors-message .message h1 {
    font-size: 45px;
    line-height: 55px;
    text-align: left;
    font-weight: 700;
    color: #333;
    margin: 25px 0;
    opacity: 0.9;
}

.directors-message .message h3 {
    color: rgba(80, 77, 77, 0.8);
}

.directors-message .message p, .topic-text p, .testimonials .review p {
    font-size: 17px;
    line-height: 30px;
    margin-top: 50px;
    text-align: left;
    font-weight: 600;
    color: #555;
    letter-spacing: 1px;
    opacity: .8;
}

.directors-message .message {
    height: 90vh;
    width: 65vw;
    background-color: #f2f3f7;
    padding: 100px 200px 0 100px;
}

.explore-btn-message {
    left: 0%;
    margin-top: 50px;
    transform: translateX(0);
}

/* Gallery section */

.gallery-container h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 35px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 15px 2px 0px 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease-in-out;
}

.active, .dot:hover {
    background-color: #717171;
}

.carousel-container {
    width: 100%;
    max-width: 1170px;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.carousel-slide .img {
    width: 1170px;
    height: 550px;
}

.carousel-slide {
    display: flex;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* youtube video section  */

.yt-playlists h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 50px;
}

.playlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 1rem;
}

/* about-us  */

.about-us {
    width: 100vw;
    height: auto;
    background-color: #f2f3f7;
    margin-top: 50px;
}

.about-us h1 {
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    font-weight: 700;
    color: #333;
    margin-bottom: 60px;
    opacity: 1;
    padding-top: 50px;
}

.topics .topic i {
    position: absolute;
    color: white;
    font-size: 35px;
    left: 50%;
    transform: translateX(-50%);
}

.topics .topic .circle {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.topic>div {
    margin-top: 50px;
}

.topics-grid {
    column-count: 3;
}

.topic-text {
    width: 71%;
}

.topic-text p {
    margin-top: 25px;
    font-size: 14px;
    line-height: 22px;
}

.topic-text h3 {
    font-weight: 700;
    font-size: 20;
    color: #333;
}

.about-us-container {
    padding-bottom: 75px;
}

/* contact section  */

.contact-us {
    position: relative;
    margin-bottom: 237px;
}

.contact-container {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #053f81;
    width: 100%;
    border-radius: 10px;
    top: 371px;
}

.contact-container h1 {
    text-align: center;
    margin-top: 41px;
    margin-bottom: 15px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 27px;
    color: white;
}

.contact-container p.contact-content {
    text-align: center;
    padding: 0px 25px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.info .circle {
    width: 65px;
    height: 65px;
    margin: 20px 0;
    border-radius: 50%;
    background-color: #ED151F;
    position: relative;
    display: flex;
    align-items: center;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    transition: 0.35s ease-in-out;
}

.info .circle .icon {
    position: absolute;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    font-size: 25px;
}

.info .circle:hover {
    background-color: #F48018;
}

.info .contact-text {
    width: 67%;
    margin-left: 20px;
    color: white;
}

.loaction, .phone, .email {
    display: flex;
    align-items: center;
    width: 34%;
}

.info {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 0 87px 52px 87px;
}

/* .phone .contact-text, .email .contact-text {
    margin-top: 20px;
} */

.phone .contact-text p strong, .email .contact-text p strong {
    line-height: 27px;
}

/* footer section  */

.footer {
    margin-bottom: 27px;
    margin-top: 625px;
}

.footer h1 {
    color: #555;
    margin-bottom: 27px;
    font-size: 22px;
}

.footer ul {
    color: #717171;
    margin-left: 17px;
}

.footer ul li {
    margin-top: 10px;
}

.footer ul li a {
    color: #717171;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    transition: 00.35s ease-in-out;
}

.footer ul li a:hover {
    color: #333;
    font-weight: 700;
}

.footer .social-networks ul li a {
    color: white;
    font-size: 20px;
}

.footer .social-networks ul {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 7px 11px;
    grid-template-areas: ". . ." ". . .";
    margin-left: 0;
}

.footer .social-networks ul li {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ED151F;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 00.35s ease-in-out;
}

.footer .social-networks ul li:hover {
    /* transform: rotateY(180deg); */
    background-color: #F48018;
}

footer {
    width: 100vw;
    background-color: #053F81;
}

footer .copyright-text h1 {
    text-align: center;
    color: white;
    font-size: 17px;
    padding: 20px;
    font-weight: 100;
}