@font-face {
    font-family: 'Revue';
    src: url('../fonts/Revue-Thin.woff2') format('woff2'), url('../fonts/Revue-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

body{
    overflow-x: hidden;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/slide_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0, 0.31);
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.31) 0%, rgba(0, 0, 0, 0.31) 0%);
    z-index: 0;
}

.header-top {
    margin-top: 40px;
    margin-bottom: 38px;
    position: inherit;
    z-index: 1;
    overflow: hidden;
}

.header-top-social {
    color: white;
    font-size: 20px;
}

.header-top-social a {
    color: white;
    margin-right: 10px;
}

.logo-unit h1 {
    margin-top: 7px;
    font-size: 35px;
    color: #ED151F;
}

.logo-unit h1 span {
    font-family: Revue;
    font-weight: 400;
}

.logo-unit img {
    margin-right: -21px;
    width: 85px;
    height: auto;
}

.phone-icon img {
    width: 25px;
    margin-right: 5px;
}

.header-top-phone h3 {
    color: white;
    font-size: 20px;
}

.navbar {
    position: relative;
    z-index: 2;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a {
    text-decoration: none;
    font-family: Quicksand;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: 6px 0;
    transition: 0.25s ease-in-out;
}

.navbar {
    position: relative;
    padding: 19px 15%;
    text-align: center;
    margin: 0;
    z-index: 200;
    background-color: #053f81ab;
    border-radius: 10px;
}

.navbar li a:hover {
    color: #ED151F;
}

.magic-line {
    position: absolute;
    width: 200px;
    margin-bottom: -9px;
    bottom: 9px;
    height: 3px;
    z-index: 18;
    border-bottom: 3.5px solid #ED151F;
    visibility: hidden;
}

.magic-triangle {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    top: 53px;
    left: 17%;
    margin-left: -3px;
    border-style: solid;
    border-width: 0 3px 4px 3px;
    border-color: transparent transparent #ED151F transparent;
    line-height: 0px;
    border-color: #00000000 #00000000 #ED151F #00000000;
    visibility: hidden;
}

.magic-triangle.triangle-visible {
    visibility: visible;
}

.magic-line.line-visible {
    visibility: visible;
    opacity: .9
}

.intro {
    margin-top: 11%;
    position: relative;
}

.intro h1 {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 65px;
    line-height: 70px;
    color: white;
}

.intro h3 {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 35px;
    line-height: 40px;
    color: #ED151F;
}

.intro h3 span {
    font-family: Revue;
}

.explore-btn {
    position: relative;
    left: 50%;
    margin-top: 4%;
    transform: translateX(-50%);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 100;
    padding: 20px 39px;
    background-color: #ED151F;
    display: inline-block;
    cursor: pointer;
    overflow: hidden;
}

.explore-btn a {
    position: inherit;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    z-index: 21;
}

.explore-btn::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F48018;
    transform: translateX(-100%);
    z-index: 20;
    transition: 0.25s linear;
}

.explore-btn:hover::before{
    transform: translateX(0);
}

/* Courses */

.courses{
    padding: 50px;
    position: relative;
}

.cards{
    border-radius: 10px;
    width: 211px;
    height: 250px;
    transition: 0.25s ease-in-out;
}

.cards a img{
    width: 85px;
}

.cards a {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    flex-direction: column;
}

.cards a h3{
    font-size: 25px;
    line-height: 50px;
}

.courses h1{
    text-align: center;
    text-transform: capitalize;
    margin: 20px 0 60px 0;
    font-size: 40px;
    font-weight: bold;
}
/* .paddinglr{
    padding-left: 100px;
    padding-right: 100px;
} */

.cards:hover{
    transform: translateY(-15px);
}


.directors-message{
    margin-top: 100px;
    height: 90vh;
    width: 100vw;
}


.director-img{
    height: 90vh;
    width: 45vw;
    background-image: url(../images/photo_2020-12-03_20-51-05.jpg);
    background-size: cover;
}

.directors-message .message h1{
    font-size: 45px;
    line-height: 55px;
    text-align: left;
    font-weight: 700;
    color: #333;
}

.directors-message .message p{
    font-size: 15px;
    line-height: 22px;
    text-align: left;
    font-weight: 600;
    color: #555;
}

.directors-message .message{
    height: 90vh;
    width: 65vw;
    background-color: #f2f3f7;
    padding: 100px 200px 0 100px;
}

.explore-btn-message{
    left: 0%;
    margin-top: 100px;
    transform: translateX(0);
}