*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Quicksand', sans-serif;
    overflow: hidden;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-centre{
    align-items: center;
}
