*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    font-family: 'Quicksand', sans-serif;
}

.container{
    max-width: 1170px;
    margin: auto;
}

.d-flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}

.align-items-centre{
    align-items: center;
}

.text-centre{
    text-align: center;
}

.green{
    background-color: #10c45c;
}

.light-blue{
    background-color: #1ec1d9;
}

.yellow{
    background-color: #eab830;
}

